@font-face {
	font-family:"Minion Pro";
	font-style:normal;
	font-weight:normal;
	src : url("../../font/MinionPro-Regular.otf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div > svg {
	position:absolute;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#1d4ed8;
	font-family:"Minion Pro", serif;
	font-size:320px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#111827;
	font-family:"Minion Pro", serif;
	font-size:560px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#6b7280;
	font-family:"Minion Pro", serif;
	font-size:160px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#111827;
	font-family:"Minion Pro", serif;
	font-size:440px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	color:#111827;
	font-family:"Minion Pro", serif;
	font-size:200px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	color:#6b7280;
	font-family:"Minion Pro", serif;
	font-size:140px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	color:#1d4ed8;
	font-family:"Minion Pro", serif;
	font-size:280px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	color:#111827;
	font-family:"Minion Pro", serif;
	font-size:220px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:240px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	-ms-transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:841.89px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:595.28px;
}
#_idContainer001 {
	-ms-transform:translate(42.519px,108.193px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,108.193px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:48.71px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,108.193px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,108.193px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.24px;
}
#_idContainer002 {
	-ms-transform:translate(70.866px,246.781px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(70.866px,246.781px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:122.72px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(70.866px,246.781px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(70.866px,246.781px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:453.54px;
}
#_idContainer003 {
	-ms-transform:translate(70.866px,391.658px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(70.866px,391.658px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:62.89px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(70.866px,391.658px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(70.866px,391.658px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:453.54px;
}
#_idContainer004 {
	-ms-transform:translate(141.732px,507.140px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(141.732px,507.140px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:89.14px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(141.732px,507.140px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(141.732px,507.140px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:311.81px;
}
#_idContainer005 {
	-ms-transform:translate(184.251px,651.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(184.251px,651.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:28.35px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(184.251px,651.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(184.251px,651.968px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:226.77px;
}
#_idContainer006 {
	-ms-transform:translate(198.425px,654.541px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(198.425px,654.541px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:21.10px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(198.425px,654.541px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(198.425px,654.541px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:198.43px;
}
#_idContainer007 {
	-ms-transform:translate(42.519px,49.928px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,49.928px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:50.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,49.928px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,49.928px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.24px;
}
#_idContainer008 {
	-ms-transform:translate(56.692px,123.938px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(56.692px,123.938px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:302.26px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(56.692px,123.938px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(56.692px,123.938px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:481.89px;
}
#_idContainer009, #_idContainer026, #_idContainer033, #_idContainer039, #_idContainer045, #_idContainer051, #_idContainer057, #_idContainer067, #_idContainer079 {
	-ms-transform:translate(42.519px,796.536px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,796.536px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.51px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,796.536px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,796.536px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:240.94px;
}
#_idContainer010, #_idContainer027, #_idContainer034, #_idContainer040, #_idContainer046, #_idContainer052, #_idContainer058, #_idContainer068, #_idContainer080 {
	-ms-transform:translate(425.196px,796.536px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(425.196px,796.536px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.51px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(425.196px,796.536px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(425.196px,796.536px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:127.56px;
}
#_idContainer011, #_idContainer028, #_idContainer035, #_idContainer041, #_idContainer047, #_idContainer053, #_idContainer059, #_idContainer069, #_idContainer081 {
	-ms-transform:translate(42.519px,796.410px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,796.410px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,796.410px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,796.410px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.24px;
}
#_idContainer012, #_idContainer029, #_idContainer060, #_idContainer070 {
	-ms-transform:translate(42.519px,52.024px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,52.024px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:34.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,52.024px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,52.024px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.24px;
}
#_idContainer013 {
	-ms-transform:translate(42.519px,87.088px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,87.088px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:49.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,87.088px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,87.088px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.24px;
}
#_idContainer014 {
	-ms-transform:translate(42.519px,152.023px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,152.023px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:27.56px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,152.023px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,152.023px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.24px;
}
#_idContainer015 {
	-ms-transform:translate(42.519px,178.321px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,178.321px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:15.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,178.321px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,178.321px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.24px;
}
#_idContainer016 {
	-ms-transform:translate(42.519px,191.970px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,191.970px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:35.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,191.970px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,191.970px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.24px;
}
#_idContainer017 {
	-ms-transform:translate(42.519px,242.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,242.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:27.56px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,242.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,242.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.24px;
}
#_idContainer018 {
	-ms-transform:translate(42.519px,269.029px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,269.029px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:15.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,269.029px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,269.029px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.24px;
}
#_idContainer019 {
	-ms-transform:translate(42.519px,282.679px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,282.679px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:35.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,282.679px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,282.679px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.24px;
}
#_idContainer020 {
	-ms-transform:translate(42.519px,333.440px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,333.440px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:27.56px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,333.440px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,333.440px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.24px;
}
#_idContainer021 {
	-ms-transform:translate(42.519px,359.738px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,359.738px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:15.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,359.738px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,359.738px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.24px;
}
#_idContainer022 {
	-ms-transform:translate(42.519px,373.387px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,373.387px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:35.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,373.387px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,373.387px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.24px;
}
#_idContainer023 {
	-ms-transform:translate(42.519px,424.149px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,424.149px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:27.56px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,424.149px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,424.149px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.24px;
}
#_idContainer024 {
	-ms-transform:translate(42.519px,450.447px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,450.447px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:15.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,450.447px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,450.447px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.24px;
}
#_idContainer025 {
	-ms-transform:translate(42.519px,464.096px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,464.096px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:35.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,464.096px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,464.096px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.24px;
}
#_idContainer030 {
	-ms-transform:translate(42.519px,87.088px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,87.088px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:32.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,87.088px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,87.088px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.24px;
}
#_idContainer031 {
	-ms-transform:translate(42.519px,138.636px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,138.636px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:32.44px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,138.636px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,138.636px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.24px;
}
#_idContainer032 {
	-ms-transform:translate(42.519px,172.651px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,172.651px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:21.10px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,172.651px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,172.651px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.24px;
}
#_idContainer036, #_idContainer042, #_idContainer048, #_idContainer054 {
	-ms-transform:translate(42.519px,52.024px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,52.024px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:34.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,52.024px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,52.024px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:297.64px;
}
#_idContainer037, #_idContainer043, #_idContainer049, #_idContainer055 {
	-ms-transform:translate(396.850px,53.596px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(396.850px,53.596px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.77px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(396.850px,53.596px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(396.850px,53.596px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:155.91px;
}
#_idContainer038 {
	-ms-transform:translate(42.519px,87.088px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,87.088px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.31px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,87.088px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,87.088px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.24px;
}
#_idContainer044, #_idContainer050, #_idContainer056 {
	-ms-transform:translate(42.519px,87.088px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,87.088px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:69.82px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,87.088px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,87.088px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.24px;
}
#_idContainer061 {
	-ms-transform:translate(42.519px,95.330px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,95.330px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:47.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,95.330px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,95.330px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.24px;
}
#_idContainer062 {
	-ms-transform:translate(42.519px,143.781px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,143.781px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:32.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,143.781px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,143.781px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.24px;
}
#_idContainer063 {
	-ms-transform:translate(42.519px,194.543px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,194.543px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:33.23px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,194.543px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,194.543px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.24px;
}
#_idContainer064 {
	-ms-transform:translate(42.519px,228.820px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,228.820px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:32.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,228.820px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,228.820px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.24px;
}
#_idContainer065 {
	-ms-transform:translate(42.519px,279.582px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,279.582px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:33.23px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,279.582px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,279.582px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.24px;
}
#_idContainer066 {
	-ms-transform:translate(42.519px,313.860px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,313.860px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:72.61px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,313.860px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,313.860px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.24px;
}
#_idContainer071 {
	-ms-transform:translate(42.519px,95.592px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,95.592px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:89.66px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,95.592px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,95.592px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.24px;
}
#_idContainer072 {
	-ms-transform:translate(42.519px,251.236px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,251.236px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:33.23px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,251.236px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,251.236px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:240.94px;
}
#_idContainer073 {
	-ms-transform:translate(42.519px,325.484px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,325.484px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,325.484px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,325.484px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:226.77px;
}
#_idContainer074 {
	-ms-transform:translate(42.519px,328.557px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,328.557px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:21.10px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,328.557px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,328.557px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:226.77px;
}
#_idContainer075 {
	-ms-transform:translate(311.811px,251.236px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(311.811px,251.236px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:33.23px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(311.811px,251.236px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(311.811px,251.236px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:240.94px;
}
#_idContainer076 {
	-ms-transform:translate(311.811px,325.484px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(311.811px,325.484px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(311.811px,325.484px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(311.811px,325.484px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:226.77px;
}
#_idContainer077 {
	-ms-transform:translate(311.811px,328.557px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(311.811px,328.557px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:21.10px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(311.811px,328.557px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(311.811px,328.557px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:226.77px;
}
#_idContainer078 {
	-ms-transform:translate(42.519px,677.218px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.519px,677.218px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:89.14px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.519px,677.218px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.519px,677.218px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:510.24px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
